@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(241, 245, 249);
}

html.dark {
  background-color: rgb(17, 24, 39);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  @apply transition-all duration-200;
}

:root {
  --toastify-color-dark: #1e3a8a;

  --toastify-color-progress-dark: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
}
